<div class="espaco">
    <form class="bg-light">
        <div class="form-group row inputsEspaco">
          <div class="col-sm-10">
            <label for="clienteNome" class="form-label">Cliente Do Serviço</label>
            <select name="clienteNome" id="clienteNome" class="form-control" [(ngModel)]="clienteId">
                <option *ngFor="let item of clienteList$|async" [value]="item.clienteId">
                    {{item.nome}}
                </option>
            </select>
          </div>
          <div class="col-sm-10">
            <label for="numeroOs" class="form-label">Cliente Do Serviço</label>
            <input type="text" class="form-control"  placeholder="NumeroOs" [(ngModel)]="servicoId" name="numeroOs">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-dark" (click)="updateServico()">Editar Servico</button>
          </div>
        </div>
        
      </form>
</div>