<div class="espaco">
  <div class="d-flex  flex-row-reverse pt-3 pb-3 espacoBtns">
    <button type="button" class="btn btn-outline-dark text-white" routerLink="/servicos/cadastrar">Cadastrar Serviço</button>
</div>
<div class="d-flex flex-row-reverse p-3 ">
  <button class="btn btn-primary m-2" (click)="avancarPag()">Avançar</button>
  <button class="btn btn-primary m-2" (click)="voltarrPag()">Voltar</button>
  <div class="buscar-pensamentos bg-white">
    <input type="search"
    class="filtro"
    placeholder="Buscar Serviços"
    autofocus
    [(ngModel)]="filtro"
    >
    <div class="m-2 flex-grow-1">
      <button type="button" class="btn bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
        </svg>
        <span class="visually-hidden">Button</span>
      </button>
    </div>
  </div>
</div>
  <table class="table table-hover table-dark">
    <thead class="letras">
        <th>NUMERO DE SERVIÇO</th>
        <th>EQUIPAMENTOS</th>
        <th>STATUS</th>
        <th>CLIENTE</th>
        <th>AÇÕES</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of servicoList$|async">
            <td>{{item.servicoId}}</td>
            <td>
                <button type="button" class="btn btn-primary me-2 mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="retornarEquipamentos(item.servicoId)" (click)="salvarId(item.servicoId)">
                  Exibir
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Equipamentos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-dark" *ngFor="let eqp of equipamentoList$|async">
                            <ul>
                              <li>NÚMERO DE OS: {{eqp.equipamentoId}}</li>
                              <ul>
                                  <li>NOME: {{eqp.nome}}</li>
                                  <li>MODELO: {{eqp.modelo}}</li>
                                  <li>MARCA: {{eqp.marca}}</li>
                                  <li>NUMERO DE SERIE: {{eqp.numSerie}}</li>
                                  <li>Garantia: {{garantiaS(eqp.garantia)}}</li>
                              </ul>
                            </ul>
                      </div>
                      <div class="addEqp text-dark espaco">
                        <form class="bg-light espaco" [formGroup]="formulario">
                          <div class="col-sm-10">
                            <label for="equipamentoNome" class="form-label">Nome Do Equipamento</label>
                            <input type="text" id="equipamentoNome" name="equipamentoNome" class="form-control" formControlName="nome">
                          </div>
                          <div class="col-sm-10">
                            <label for="modeloNome" class="form-label">Modelo</label>
                            <input type="text" id="modeloNome" name="modeloNome" class="form-control" formControlName="modelo">
                          </div>
                          <div class="col-sm-10">
                            <label for="marcaNome" class="form-label">Marca</label>
                            <input type="text" id="marcaNome" name="marcaNome" class="form-control" formControlName="marca">
                          </div>
                          <div class="col-sm-10">
                            <label for="numeroDeSerie" class="form-label">Número De Série</label>
                            <input type="text" id="numeroDeSerie" name="numeroDeSerie" class="form-control" formControlName="numSerie">
                          </div>
                          <div class="col-sm-10">
                            <label for="garantia" class="form-label">Garantia</label>
                            <select name="garantia" id="garantia" class="form-control" formControlName="garantia">
                              <option value="true">
                                Com Garantia
                              </option>
                              <option value="false">
                                Sem Garantia
                              </option>
                            </select>
                          </div>
                          <div class="form-group row">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer d-flex justify-content-around align-items-center">
                          <button type="button" class="btn btn-primary" (click)="addEquipamentos()">Adicionar Equipamento</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
              </div>
            </td>
            <td>{{status(item.statusId)}}</td>
            <td>{{item.cliente.nome}}</td>
            <td>
              <button class="btn btn-outline-primary me-2 mb-1" routerLink="/servicos/editar">
                Editar
              </button>
              <button class="btn btn-outline-danger me-2 mb-1" (click)="excluirServico(item.servicoId)">
                Excluir
              </button>
            </td>
    </tbody>
</table>
</div>
