<div class="mx-auto pt-5 " style="width: 400px;">
    <form class="bg-light p-3">
        <div class="form-group row inputsEspaco">
          <div class="col-sm-10 pb-3">
            <label for="clienteNome" class="form-label">Cliente Do Serviço</label>
            <select name="clienteNome" id="clienteNome" class="form-control" [(ngModel)]="clienteId">
                <option *ngFor="let item of clienteList$|async" [value]="item.clienteId">
                    {{item.nome}}
                </option>
            </select>
            <div class="col-sm-10 pb-3">
              <label for="statusTipo" class="form-label">Status Do Serviço</label>
            <select name="statusTipo" id="statusTipo" class="form-control" [(ngModel)]="statusId">
              <option *ngFor="let status of statusList$|async" [value]="status.statusId">
                {{status.statusTipo}}
              </option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-dark" (click)="addServico()">Cadastrar Servico</button>
            </div>
          </div>
        </div>
      </form>
</div>
